<template>
  <div>{{author}}</div>
</template>

<script>
const AUTHORS=["John Doe", "Olexandr Pedchenko", "New Dude", "Admin Last"];
function getRandomInt(min, max) {
  min = Math.ceil(min);
  max = Math.floor(max);
  return Math.floor(Math.random() * (max - min) + min);
}
export default {
  name: "AuthorSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    author() {
      return AUTHORS[getRandomInt(0, 4)];
    }
  },
}
</script>

<style scoped>

</style>