<template>
  <v-data-table
      :headers="headers"
      :items="tags"
      sort-by="calories"
      class="elevation-1"
  >
    <template v-slot:top>
      <v-toolbar
          flat
      >
        <v-toolbar-title>Tags</v-toolbar-title>
        <v-divider
            class="mx-4"
            inset
            vertical
        ></v-divider>
        <v-spacer></v-spacer>
        <v-dialog
            v-model="dialog"
            max-width="500px"
        >
          <template v-slot:activator="{ on, attrs }">
            <v-btn
                color="primary"
                dark
                class="mb-2"
                v-bind="attrs"
                v-on="on"
            >
              New Tag
            </v-btn>
          </template>
          <v-card>
            <v-card-title>
              <span class="headline">{{ formTitle }}</span>
            </v-card-title>

            <v-card-text>
              <v-container>
                <v-row>
                  <v-form style="width: 100%;">
                    <v-text-field v-model="vm.title" name="first-name" label="Title"></v-text-field>
                    <v-textarea v-model="vm.description" label="Description"/>
                  </v-form>
                </v-row>
              </v-container>
            </v-card-text>

            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="close"
              >
                Cancel
              </v-btn>
              <v-btn
                  color="blue darken-1"
                  text
                  @click="save"
              >
                Save
              </v-btn>
            </v-card-actions>
          </v-card>
        </v-dialog>
        <v-dialog v-model="dialogDelete" max-width="550px">
          <v-card>
            <v-card-title class="headline">Are you sure you want to delete this tag from system?</v-card-title>
            <v-card-actions>
              <v-spacer></v-spacer>
              <v-btn color="blue darken-1" text @click="closeDelete">Cancel</v-btn>
              <v-btn color="blue darken-1" text @click="deleteItemConfirm">OK</v-btn>
              <v-spacer></v-spacer>
            </v-card-actions>
          </v-card>
        </v-dialog>
      </v-toolbar>
    </template>
    <template v-slot:item.actions="{ item }">
      <v-icon
          small
          class="mr-2"
          @click="editItem(item)"
      >
        mdi-pencil
      </v-icon>
      <v-icon
          small
          @click="deleteItem(item)"
      >
        mdi-delete
      </v-icon>
    </template>
    <template v-slot:no-data>
      <v-btn
          color="primary"
          @click="initialize"
      >
        Reset
      </v-btn>
    </template>
    <template v-slot:item.createdAt="{item}">
      <created-at-slot
          :item="item"
      />
    </template>
  </v-data-table>
</template>

<script>
import CreatedAtSlot from "../Slots/CreatedAtSlot";
export default {
  name: "Tags",
  components: {CreatedAtSlot},
  data() {
    return {
      dialog: false,
      dialogDelete: false,
      headers: [
        {
          text: 'Title',
          align: 'start',
          value: 'title',
        },
        { text: 'Description', value: 'description' },
        { text: 'Created at', value: 'createdAt' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      editedIndex: -1,
      vm: {},
    }
  },
  computed: {
    tags(){
      return [
        {
          _id: 1,
          title: "Tag 1",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt " +
              "ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris " +
              "nisi ut aliquip ex ea commodo consequat.",
          createdAt: "2020-12-10T16:35:42.421Z",
        },
        {
          _id: 2,
          title: "Tag 2",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt " +
              "ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris " +
              "nisi ut aliquip ex ea commodo consequat.",
          createdAt: "2020-12-11T17:41:42.421Z",
        },
        {
          _id: 3,
          title: "Tag 3",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt " +
              "ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris " +
              "nisi ut aliquip ex ea commodo consequat.",
          createdAt: "2020-12-06T23:07:15.421Z",
        },
        {
          _id: 4,
          title: "Tag 4",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt " +
              "ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris " +
              "nisi ut aliquip ex ea commodo consequat.",
          createdAt: "2020-12-11T17:41:42.421Z",
        },
        {
          _id: 5,
          title: "Tag 5",
          description: "Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt " +
              "ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris " +
              "nisi ut aliquip ex ea commodo consequat.",
          createdAt: "2020-12-11T17:41:42.421Z",
        },
      ];
    },
    formTitle () {
      return this.editedIndex === -1 ? 'New Tag' : 'Edit Tag'
    },
  },

  watch: {
    dialog (val) {
      val || this.close()
    },
    dialogDelete (val) {
      val || this.closeDelete()
    },
  },

  created () {
  },

  methods: {
    editItem (item) {
      this.editedIndex = this.tags.indexOf(item)
      this.dialog = true
    },

    deleteItem (item) {
      this.editedIndex = this.tags.indexOf(item)
      this.dialogDelete = true
    },

    deleteItemConfirm () {
      this.desserts.splice(this.editedIndex, 1)
      this.closeDelete()
    },

    close () {
      this.dialog = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    closeDelete () {
      this.dialogDelete = false
      this.$nextTick(() => {
        this.editedItem = Object.assign({}, this.defaultItem)
        this.editedIndex = -1
      })
    },

    save () {
      if (this.editedIndex > -1) {
        Object.assign(this.desserts[this.editedIndex], this.editedItem)
      } else {
        this.desserts.push(this.editedItem)
      }
      this.close()
    },
  },
}
</script>

<style scoped>

</style>