<template>
  <div>
    <v-container>
      <v-layout row class="text-xs-center">
        <v-flex offset-xs3 xs6 class="grey lighten-4">
          <v-container style="position: relative;top: 13%;" class="text-xs-center">
            <v-card flat>
              <v-card-title primary-title>
                <h4>Login</h4> <br/>
              </v-card-title>
              <v-card-subtitle>
                <span>Does not have an account?</span><v-btn text :to="{name: 'SignUp'}">Sign Up</v-btn>
              </v-card-subtitle>
              <v-form>
                <v-text-field v-model="email" prepend-icon="mdi-account" name="Email" label="E-Mail"></v-text-field>
                <v-text-field v-model="password" prepend-icon="mdi-lock" name="Password" label="Password" type="password"></v-text-field>
                <v-card-actions>
                  <v-btn primary large block @click="login">Login</v-btn>
                </v-card-actions>
              </v-form>
            </v-card>
          </v-container>
        </v-flex>
      </v-layout>
    </v-container>
    <v-snackbar
        v-model="snackbar"
        :timeout="3000"
        :right="true"
        :top="true"
    >
      {{ messageText }}

      <template v-slot:action="{ attrs }">
        <v-btn
            color="pink"
            text
            v-bind="attrs"
            @click="snackbar = false"
        >
          Close
        </v-btn>
      </template>
    </v-snackbar>
  </div>
</template>

<script>
import {isAuthenticated} from "../../utils";

export default {
  name: 'Login',
  data() {
    return {
      email: "",
      password: "",
      snackbar: false,
      messageText: "",
    }
  },
  beforeRouteEnter(to, from, next){
    if (isAuthenticated()) next({name: "Profile"})
    else next();
  },
  methods: {
    login() {
      this.$store.dispatch("auth/login", {email: this.email, password: this.password}).then(()=>{
        // this.$router.push({name: "Profile"}, );
        window.location = "/profile";
      }, ({message})=>{
        this.messageText = message;
        this.snackbar = true;
      });
    }
  },
}
</script>
