<template>
  <div id="app">
    <v-container>
      <v-layout column class="text-xs-center">
        <v-flex offset-xs3 xs6 class="grey lighten-4 mb-4">
          <v-tabs>
            <v-tab :to="{name: 'NewDocument', params: {type: 'created'}}">Creation</v-tab>
            <v-tab :to="{name: 'NewDocument', params: {type: 'uploaded'}}">Uploading</v-tab>
          </v-tabs>
        </v-flex>
        <v-flex>
            <v-flex row>
              <v-col cols="8">
                <v-text-field v-model="name" label="Name"/>
              </v-col>
              <v-select
                  v-model="tags"
                  :items="tagsOptions"
                  chips
                  label="Tags"
                  multiple
              />
            </v-flex>
          <creation v-if="type === 'created'" v-model="content"/>
          <uploading v-else v-model="fileId"/>
          <v-btn fab dark fixed right bottom small color="indigo" @click="save">
            <v-icon>mdi-content-save</v-icon>
          </v-btn>
        </v-flex>
      </v-layout>
    </v-container>
  </div>
</template>

<script>
import Creation from "./Creation/Index";
import Uploading from "./Uploading/Index";
export default {
  name: 'NewDocument',
  components: {Uploading, Creation},
  props: {
    type: {
      type: String,
      default: "created",
    },
  },
  data() {
    return {
      name: "",
      content: "",
      fileId: "",
      tags: [],
      tagsOptions: ["Tag 1", "Tag 2", "Tag 3", "Tag 4", "Tag 5", "Tag 6"]
    }
  },
  methods: {
    redirectTo(type) {
      this.$router.push({name: "NewDocument", params: {type}})
    },
    save() {
      this.$store.dispatch("document/save", {content: this.content, type: this.type, name: this.name, fileId: this.fileId});
    }
  },
}
</script>
