<template>
  <v-data-table
      :headers="headers"
      :items="desserts"
      :items-per-page="5"
      class="elevation-1"
  >
    <template v-slot:item.name="{ item }">
      <name-slot
          :item="item"
      />
    </template>
    <template v-slot:item.createdAt="{ item }">
      <sent-at-slot
          :item="item"
      />
    </template>
    <template v-slot:item.actions="{ item }">
      <ActionsSlot
          :item="item"
      />
    </template>
  </v-data-table>
</template>

<script>
import ActionsSlot from "./Slots/ActionsSlot";
import NameSlot from "./Slots/NameSlot";
import SentAtSlot from "./Slots/SentAtSlot";
export default {
name: "PendingDocuments",
  components: {SentAtSlot, ActionsSlot, NameSlot},
  data() {
    return {
      headers: [
        {
          text: 'Name',
          align: 'start',
          value: 'name',
        },
        { text: 'Sent at', value: 'createdAt' },
        { text: 'Sender', value: 'sender' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
      desserts: [
        {
          _id: 1,
          name: 'Test document',
          createdAt: "2020-12-11T17:41:42.421Z",
          sender: "Olexandr Pedchenko",
        },
        {
          _id: 2,
          name: 'Secret document',
          createdAt: "2020-12-10T12:34:56.421Z",
          sender: "New Dude",
        },
        {
          _id: 3,
          name: 'CV',
          createdAt: "2020-12-11T17:41:42.421Z",
          sender: "Olexandr Pedchenko",
        },
        {
          _id: 4,
          name: 'Monthly report',
          createdAt: "2020-12-08T01:41:42.421Z",
          sender: "John Doe",
        },
      ],
    }
  },
}
</script>

<style scoped>

</style>