<template>
  <v-container>
    <v-layout row class="text-xs-center">
      <v-flex row class="mb-10 justify-space-between align-center" style="width: 100%">
        <h3>{{document.name}}</h3>
      </v-flex>
      <template v-if="document.type === 'created'">
        <div class="document" v-html="document.content"/>
      </template>
      <template v-else-if="document.type === 'uploaded' && document.fileId">
        <object
            class="viewer__pdf"
            type="application/pdf"
            :data="fileUrl"
            style="width: 70%; height: 100vh; margin: 0 auto"
        >
          <iframe
              :src="fileUrl"
              style="border: none; width: 100%; height: -webkit-fill-available;"
          >
            Sorry, your browser does not support this feature
          </iframe>
        </object>
      </template>
      <v-btn dark fixed left bottom small color="red" @click="reject" style="margin-left: 60px;">
        Reject
      </v-btn>
      <v-btn dark fixed right bottom small color="green" @click="sign" style="margin-right: 60px;">
        Sign
      </v-btn>
    </v-layout>
  </v-container>
</template>

<script>
import {mapState} from "vuex"
export default {
  name: "Index",
  props: {
    id: {
      type: [Number, String],
      required: true
    },
  },
  data() {
    return {
      dialog: false,
      vm: {},
    }
  },
  computed: {
    ...mapState({
      document: state => state.document.document
    }),
    fileUrl(){
      return `http://localhost:3000/attachments/${this.document.fileId}`
    },
  },
  mounted() {
    this.$store.dispatch("document/getDocument", {id: this.id})
  },
  methods: {
    sign() {},
    reject(){},
  },
}
</script>

<style lang="scss" type="scss">
.document{
  min-height: 286mm !important;
  width: 207mm!important;
  margin: 10px auto;
  padding: 10mm;
  box-shadow: 0px 0px 10px rgb(45, 45, 45 )!important;
  img{
    max-width: 100%;
  }
}
</style>