<template>
<v-container>
  <v-layout row class="text-xs-center">
    <v-flex row class="mb-10 justify-space-between align-center" style="width: 100%">
      <h3>{{document.name}}</h3>
      <v-btn @click.stop="dialog = true" primary>Send document</v-btn>
    </v-flex>
    <template v-if="document.type === 'created'">
      <div class="document" v-html="document.content"/>
    </template>
    <template v-else-if="document.type === 'uploaded' && document.fileId">
      <object
          class="viewer__pdf"
          type="application/pdf"
          :data="fileUrl"
          style="width: 70%; height: 100vh; margin: 0 auto"
      >
        <iframe
            :src="fileUrl"
            style="border: none; width: 100%; height: -webkit-fill-available;"
        >
          Sorry, your browser does not support this feature
        </iframe>
      </object>
    </template>
  </v-layout>
  <v-dialog
      v-model="dialog"
      max-width="600"
  >
    <v-card>
      <v-card-title class="headline">
        Sending a document for signing.
      </v-card-title>
      <v-card-text>
        <v-form>
          <v-select
              v-model="vm.recipient"
              :items="users"
              label="Recipient"
          />
          <v-checkbox
              v-model="vm.sendEmailNotification"
              :label="'Notify via E-Mail'"
          ></v-checkbox>
        </v-form>
      </v-card-text>
      <v-card-actions>
        <v-btn
            color="blue darken-1"
            text
            @click="dialog = false"
        >
          Cancel
        </v-btn>

        <v-btn
            color="green darken-1"
            text
            @click="dialog = false"
        >
          Send
        </v-btn>
      </v-card-actions>
    </v-card>
  </v-dialog>
</v-container>
</template>

<script>
import {mapState} from "vuex"
export default {
  name: "Index",
  props: {
    id: {
      type: [Number, String],
      required: true
    },
  },
  data() {
    return {
      dialog: false,
      vm: {},
    }
  },
  computed: {
    ...mapState({
      document: state => state.document.document
    }),
    users(){
      return ["John Doe", "Olexandr Pedchenko", "New Dude", "Admin Last"];
    },
    fileUrl(){
      return `http://localhost:3000/attachments/${this.document.fileId}`
    },
  },
  mounted() {
    this.$store.dispatch("document/getDocument", {id: this.id})
  },
}
</script>

<style lang="scss" type="scss">
.document{
  min-height: 286mm !important;
  width: 207mm!important;
  margin: 10px auto;
  padding: 10mm;
  box-shadow: 0px 0px 10px rgb(45, 45, 45 )!important;
  img{
    max-width: 100%;
  }
}
</style>