<template>
<div>
  <v-data-table
      :headers="headers"
      :items="documents"
      class="elevation-1"
      :search="searchQuery"
  >
    <template v-slot:top>
      <v-text-field
          v-model="searchQuery"
          label="Search"
          class="mx-4"
      ></v-text-field>
    </template>
    <template v-slot:item.name="{ item }">
      <name-slot
        :item="item"
      />
    </template>
    <template v-slot:item.type="{ item }">
     <type-slot
      :item="item"
     />
    </template>
    <template v-slot:item.author="{ item }">
      <author-slot
      :item="item"
      />
    </template>
    <template v-slot:item.tags="{ item }">
     <tags-slot
     :item="item"
     />
    </template>
    <template v-slot:item.createdAt="{ item }">
      <created-at-slot
          :item="item"
      />
    </template>
    <template v-slot:item.actions="{ item }">
     <actions-slot
     :item="item"
     />
    </template>
  </v-data-table>
</div>
</template>

<script>
import {mapState} from "vuex"
import NameSlot from "./Slots/NameSlot";
import CreatedAtSlot from "./Slots/CreatedAtSlot";
import TypeSlot from "./Slots/TypeSlot";
import ActionsSlot from "./Slots/ActionsSlot";
import AuthorSlot from "./Slots/AuthorSlot";
import TagsSlot from "./Slots/TagsSlot";
export default {
name: "Documents",
  components: {TagsSlot, AuthorSlot, ActionsSlot, TypeSlot, CreatedAtSlot, NameSlot},
  data() {
    return {
      searchQuery: "",
      headers: [
        {
          text: 'Name',
          align: 'start',
          value: 'name',
        },
        { text: 'Type', value: 'type' },
        { text: 'Created at', value: 'createdAt' },
        { text: 'Author', value: 'author' },
        { text: 'Tags', value: 'tags' },
        { text: 'Actions', value: 'actions', sortable: false },
      ],
    }
  },
  computed: {
    ...mapState({
      documents: state => state.document.list
    })
  },
  mounted() {
  this.$store.dispatch("document/list");
  }
}
</script>

<style scoped>

</style>