<template>
  <div>
    <v-btn class="mr-5"
        color="red"
           x-small
    >
      Reject
    </v-btn>
    <v-btn
        color="green"
        x-small
    >
      Sign
    </v-btn>
  </div>
</template>

<script>
export default {
  name: "ActionsSlot",
  props: {
    item: {
      type: Object,
      required: true,
    },
  },
  computed: {
    isCreated() {
      return this.item.type === "created";
    }
  },
}
</script>

<style scoped>

</style>