<template>
<div>
  <quill-editor
  :value="value"
  @input="$emit('input', $event)"
  />
</div>
</template>

<script>
export default {
name: "Creation",
  props: {
    value: {
      type: String,
      default: "",
    },
  },
}
</script>

<style lang="scss" type="scss">
.quill-editor{
  min-height: 286mm !important;
  overflow-x: auto;
  .ql-container{
    width: 207mm!important;
    margin: 0 auto;
  }
  .ql-editor{
    border: none!important;
    margin-top: 10px;
    padding: 10mm;
    min-height: 286mm !important;
    box-shadow: 0px 0px 10px rgb(45, 45, 45 )!important;
  }
}
</style>